@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #E3F2FD;
}

.popup {
    background: #ffffff;
    width: 490px;
    left: 50%;
    top: 0;
    padding: 13px 17px 20px;
    border-radius: 5px;
    display: flex;
    border-top: 3px solid #EA4D67;
    transform: translateX(-50%);
    box-shadow: 0 10px 25px rgba(52, 87, 220, 0.1);
}

.popup .icon i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.2rem;
    margin-right: 15px;
    background: #EA4D67;
}

.popup .title {
    font-size: 1.2rem;
}

.popup .desc {
    color: #474747;
    margin: 3px 0 10px;
    font-size: 1.04rem;
}

.popup .reconnect {
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.95rem;
    padding: 9px 15px;
    border-radius: 4px;
    background: #5372F0;
}